In [1]:
! pip install statsbombpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting statsbombpy
  Downloading statsbombpy-1.4.3-py3-none-any.whl (13 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from statsbombpy) (1.3.5)
Requirement already satisfied: inflect in /usr/local/lib/python3.7/dist-packages (from statsbombpy) (2.1.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from statsbombpy) (2.23.0)
Collecting requests-cache
  Downloading requests_cache-0.9.5-py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 2.6 MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from statsbombpy) (1.1.0)
Collecting nose2
  Downloading nose2-0.12.0-py2.py3-none-any.whl (152 kB)
     |████████████████████████████████| 152 kB 9.0 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->statsbombpy) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->statsbombpy) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->statsbombpy) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->statsbombpy) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->statsbombpy) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->statsbombpy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->statsbombpy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->statsbombpy) (3.0.4)
Collecting attrs<22.0,>=21.2
  Downloading attrs-21.4.0-py2.py3-none-any.whl (60 kB)
     |████████████████████████████████| 60 kB 6.3 MB/s
Collecting cattrs<=22.2,>=1.8
  Downloading cattrs-22.1.0-py3-none-any.whl (33 kB)
Collecting url-normalize<2.0,>=1.4
  Downloading url_normalize-1.4.3-py2.py3-none-any.whl (6.8 kB)
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 48.7 MB/s
Requirement already satisfied: appdirs<2.0.0,>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from requests-cache->statsbombpy) (1.4.4)
Requirement already satisfied: typing_extensions in /usr/local/lib/python3.7/dist-packages (from cattrs<=22.2,>=1.8->requests-cache->statsbombpy) (4.1.1)
Collecting exceptiongroup
  Downloading exceptiongroup-1.0.0rc8-py3-none-any.whl (11 kB)
Installing collected packages: urllib3, exceptiongroup, attrs, url-normalize, cattrs, requests-cache, nose2, statsbombpy
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Attempting uninstall: attrs
    Found existing installation: attrs 22.1.0
    Uninstalling attrs-22.1.0:
      Successfully uninstalled attrs-22.1.0
Successfully installed attrs-21.4.0 cattrs-22.1.0 exceptiongroup-1.0.0rc8 nose2-0.12.0 requests-cache-0.9.5 statsbombpy-1.4.3 url-normalize-1.4.3 urllib3-1.25.11

In [2]:
import pandas as pd
import numpy as np

In [3]:
from statsbombpy import sb

In [4]:
sb.competitions()

/usr/local/lib/python3.7/dist-packages/statsbombpy/api_client.py:20: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn("credentials were not supplied. open data access only", NoAuthWarning)

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,16,4,Europe,Champions League,male,False,False,2018/2019,2022-08-01T21:50:33.997128,2021-06-13T16:17:31.694,None,2022-08-01T21:50:33.997128
1,16,1,Europe,Champions League,male,False,False,2017/2018,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-01-23T21:55:30.425330
2,16,2,Europe,Champions League,male,False,False,2016/2017,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
3,16,27,Europe,Champions League,male,False,False,2015/2016,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
4,16,26,Europe,Champions League,male,False,False,2014/2015,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
5,16,25,Europe,Champions League,male,False,False,2013/2014,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
6,16,24,Europe,Champions League,male,False,False,2012/2013,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-07-10T13:41:45.751
7,16,23,Europe,Champions League,male,False,False,2011/2012,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
8,16,22,Europe,Champions League,male,False,False,2010/2011,2022-01-26T21:07:11.033473,2021-06-13T16:17:31.694,None,2022-01-26T21:07:11.033473
9,16,21,Europe,Champions League,male,False,False,2009/2010,2022-02-12T16:13:49.294747,2021-06-13T16:17:31.694,None,2022-02-12T16:13:49.294747
10,16,41,Europe,Champions League,male,False,False,2008/2009,2021-11-07T14:20:01.699993,2021-06-13T16:17:31.694,None,2021-11-07T14:20:01.699993
11,16,39,Europe,Champions League,male,False,False,2006/2007,2021-03-31T04:18:30.437060,2021-06-13T16:17:31.694,None,2021-03-31T04:18:30.437060
12,16,37,Europe,Champions League,male,False,False,2004/2005,2021-04-01T06:18:57.459032,2021-06-13T16:17:31.694,None,2021-04-01T06:18:57.459032
13,16,44,Europe,Champions League,male,False,False,2003/2004,2021-04-01T00:34:59.472485,2021-06-13T16:17:31.694,None,2021-04-01T00:34:59.472485
14,16,76,Europe,Champions League,male,False,False,1999/2000,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
15,37,90,England,FA Women's Super League,female,False,False,2020/2021,2021-07-01T18:14:40.756,2021-06-13T16:17:31.694,None,2021-07-01T18:14:40.756
16,37,42,England,FA Women's Super League,female,False,False,2019/2020,2021-06-01T13:01:18.188,2021-06-13T16:17:31.694,None,2021-06-01T13:01:18.188
17,37,4,England,FA Women's Super League,female,False,False,2018/2019,2022-05-27T12:02:24.272045,2021-06-13T16:17:31.694,None,2022-05-27T12:02:24.272045
18,43,3,International,FIFA World Cup,male,False,True,2018,2022-08-04T21:58:22.163987,2021-06-13T16:17:31.694,None,2022-08-04T21:58:22.163987
19,11,90,Spain,La Liga,male,False,False,2020/2021,2022-02-11T14:56:09.076,2021-10-30T04:19:36.116600,2021-09-17T15:18:33.787790,2022-02-11T14:56:09.076
20,11,42,Spain,La Liga,male,False,False,2019/2020,2022-07-15T23:27:24.260122,2021-06-13T16:17:31.694,None,2022-07-15T23:27:24.260122
21,11,4,Spain,La Liga,male,False,False,2018/2019,2022-08-04T17:25:05.952484,2021-07-09T14:53:22.103024,None,2022-08-04T17:25:05.952484
22,11,1,Spain,La Liga,male,False,False,2017/2018,2022-08-04T17:18:06.540844,2021-06-13T16:17:31.694,None,2022-08-04T17:18:06.540844
23,11,2,Spain,La Liga,male,False,False,2016/2017,2022-01-25T22:51:59.353598,2021-06-13T16:17:31.694,None,2022-01-25T22:51:59.353598
24,11,27,Spain,La Liga,male,False,False,2015/2016,2022-05-25T14:00:13.468337,2021-06-13T16:17:31.694,None,2022-05-25T14:00:13.468337
25,11,26,Spain,La Liga,male,False,False,2014/2015,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
26,11,25,Spain,La Liga,male,False,False,2013/2014,2022-07-23T12:18:49.547396,2021-06-13T16:17:31.694,None,2022-07-23T12:18:49.547396
27,11,24,Spain,La Liga,male,False,False,2012/2013,2021-10-27T15:44:43.940862,2021-06-13T16:17:31.694,None,2021-10-27T15:44:43.940862
28,11,23,Spain,La Liga,male,False,False,2011/2012,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
29,11,22,Spain,La Liga,male,False,False,2010/2011,2021-11-11T22:57:42.361902,2021-06-13T16:17:31.694,None,2021-11-11T22:57:42.361902
30,11,21,Spain,La Liga,male,False,False,2009/2010,2021-10-26T13:56:40.989214,2021-06-13T16:17:31.694,None,2021-10-26T13:56:40.989214
31,11,41,Spain,La Liga,male,False,False,2008/2009,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
32,11,40,Spain,La Liga,male,False,False,2007/2008,2021-10-26T13:13:56.180589,2021-06-13T16:17:31.694,None,2021-10-26T13:13:56.180589
33,11,39,Spain,La Liga,male,False,False,2006/2007,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
34,11,38,Spain,La Liga,male,False,False,2005/2006,2022-07-03T12:34:31.749038,2021-06-13T16:17:31.694,None,2022-07-03T12:34:31.749038
35,11,37,Spain,La Liga,male,False,False,2004/2005,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
36,49,3,United States of America,NWSL,female,False,False,2018,2021-11-06T05:53:29.435016,2021-06-13T16:17:31.694,None,2021-11-06T05:53:29.435016
37,2,44,England,Premier League,male,False,False,2003/2004,2021-11-14T22:29:00.646120,2021-06-13T16:17:31.694,None,2021-11-14T22:29:00.646120
38,55,43,Europe,UEFA Euro,male,False,True,2020,2022-02-01T17:20:34.319496,2021-11-11T13:54:37.507376,2021-11-11T13:54:37.507376,2022-02-01T17:20:34.319496
39,53,106,Europe,UEFA Women's Euro,female,False,True,2022,2022-08-01T07:46:11.595364,2022-08-02T17:20:46.253297,2022-08-02T17:20:46.253297,2022-08-01T07:46:11.595364
40,72,30,International,Women's World Cup,female,False,True,2019,2022-07-13T20:21:27.033445,2021-06-13T16:17:31.694,None,2022-07-13T20:21:27.033445

In [5]:
sb.matches(competition_id=16,season_id=23)

/usr/local/lib/python3.7/dist-packages/statsbombpy/api_client.py:20: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn("credentials were not supplied. open data access only", NoAuthWarning)

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,...,last_updated_360,match_week,competition_stage,stadium,referee,home_managers,away_managers,data_version,shot_fidelity_version,xy_fidelity_version
0,18237,2012-05-19,20:45:00.000,Europe - Champions League,2011/2012,Bayern Munich,Chelsea,1,1,available,...,2021-06-13T16:17:31.694,1,Final,Allianz Arena,Pedro Proença,Josef Heynckes,Roberto Di Matteo,1.0.3,None,None

In [63]:
events= sb.events(match_id=18237)

/usr/local/lib/python3.7/dist-packages/statsbombpy/api_client.py:20: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn("credentials were not supplied. open data access only", NoAuthWarning)

In [64]:
events.head(20)

,bad_behaviour_card,ball_receipt_outcome,ball_recovery_recovery_failure,block_deflection,block_offensive,carry_end_location,clearance_aerial_won,counterpress,dribble_nutmeg,dribble_outcome,...,shot_statsbomb_xg,shot_technique,shot_type,substitution_outcome,substitution_replacement,tactics,team,timestamp,type,under_pressure
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"{'formation': 4231, 'lineup': [{'player': {'id...",Bayern Munich,00:00:00.000,Starting XI,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"{'formation': 4231, 'lineup': [{'player': {'id...",Chelsea,00:00:00.000,Starting XI,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Chelsea,00:00:00.000,Half Start,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Bayern Munich,00:00:00.000,Half Start,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Bayern Munich,00:00:00.000,Half Start,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Chelsea,00:00:00.000,Half Start,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Bayern Munich,00:00:00.000,Half Start,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Chelsea,00:00:00.000,Half Start,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Chelsea,00:00:00.000,Half Start,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Bayern Munich,00:00:00.000,Half Start,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Bayern Munich,00:00:00.000,Half Start,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Chelsea,00:00:00.000,Half Start,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Chelsea,00:00:00.313,Pass,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Chelsea,00:00:01.053,Pass,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Chelsea,00:00:02.124,Pass,True
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Chelsea,00:00:04.560,Pass,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Chelsea,00:00:07.342,Pass,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Bayern Munich,00:00:11.717,Pass,True
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Bayern Munich,00:00:15.346,Pass,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Bayern Munich,00:00:18.333,Pass,NaN

In [65]:
events.columns

Index(['bad_behaviour_card', 'ball_receipt_outcome',
       'ball_recovery_recovery_failure', 'block_deflection', 'block_offensive',
       'carry_end_location', 'clearance_aerial_won', 'counterpress',
       'dribble_nutmeg', 'dribble_outcome', 'dribble_overrun', 'duel_outcome',
       'duel_type', 'duration', 'foul_committed_advantage',
       'foul_committed_card', 'foul_committed_offensive',
       'foul_committed_penalty', 'foul_committed_type', 'foul_won_advantage',
       'foul_won_defensive', 'foul_won_penalty', 'goalkeeper_body_part',
       'goalkeeper_end_location', 'goalkeeper_outcome', 'goalkeeper_position',
       'goalkeeper_technique', 'goalkeeper_type', 'id', 'index',
       'interception_outcome', 'location', 'match_id', 'minute',
       'miscontrol_aerial_won', 'off_camera', 'pass_aerial_won', 'pass_angle',
       'pass_assisted_shot_id', 'pass_backheel', 'pass_body_part',
       'pass_cross', 'pass_cut_back', 'pass_deflected', 'pass_end_location',
       'pass_goal_assist', 'pass_height', 'pass_length', 'pass_outcome',
       'pass_recipient', 'pass_shot_assist', 'pass_switch', 'pass_technique',
       'pass_through_ball', 'pass_type', 'period', 'play_pattern', 'player',
       'player_id', 'position', 'possession', 'possession_team',
       'possession_team_id', 'related_events', 'second', 'shot_aerial_won',
       'shot_body_part', 'shot_end_location', 'shot_first_time',
       'shot_freeze_frame', 'shot_key_pass_id', 'shot_one_on_one',
       'shot_outcome', 'shot_redirect', 'shot_statsbomb_xg', 'shot_technique',
       'shot_type', 'substitution_outcome', 'substitution_replacement',
       'tactics', 'team', 'timestamp', 'type', 'under_pressure'],
      dtype='object')

In [66]:
events= events[['team','type','minute','location','pass_end_location','player','player_id']]
events = events[events['team']=='Chelsea'].reset_index()

In [67]:
events.tail(20)

,index,team,type,minute,location,pass_end_location,player,player_id
2160,4658,Chelsea,Interception,57,"[34.0, 70.0]",NaN,José Bosingwa da Silva,20018.0
2161,4659,Chelsea,Interception,58,"[25.0, 30.0]",NaN,Frank Lampard,20330.0
2162,4662,Chelsea,Interception,89,"[46.0, 69.0]",NaN,Fernando José Torres Sanz,6382.0
2163,4663,Chelsea,Interception,91,"[86.0, 68.0]",NaN,John Michael Nchekwube Obinna,5475.0
2164,4664,Chelsea,Interception,99,"[36.0, 73.0]",NaN,José Bosingwa da Silva,20018.0
2165,4666,Chelsea,Interception,113,"[31.0, 72.0]",NaN,José Bosingwa da Silva,20018.0
2166,4667,Chelsea,Interception,117,"[27.0, 29.0]",NaN,John Michael Nchekwube Obinna,5475.0
2167,4669,Chelsea,Tactical Shift,17,NaN,NaN,NaN,NaN
2168,4673,Chelsea,Player Off,112,NaN,NaN,Gary Cahill,3645.0
2169,4675,Chelsea,Player On,112,NaN,NaN,Gary Cahill,3645.0
2170,4676,Chelsea,Half End,46,NaN,NaN,NaN,NaN
2171,4679,Chelsea,Half End,94,NaN,NaN,NaN,NaN
2172,4681,Chelsea,Half End,106,NaN,NaN,NaN,NaN
2173,4683,Chelsea,Half End,120,NaN,NaN,NaN,NaN
2174,4684,Chelsea,Half End,127,NaN,NaN,NaN,NaN
2175,4687,Chelsea,Shield,59,"[4.0, 59.0]",NaN,Salomon Armand Magloire Kalou,8575.0
2176,4688,Chelsea,Shield,79,"[111.0, 79.0]",NaN,Juan Manuel Mata García,3294.0
2177,4690,Chelsea,Substitution,72,NaN,NaN,Ryan Bertrand,20045.0
2178,4691,Chelsea,Substitution,83,NaN,NaN,Salomon Armand Magloire Kalou,8575.0
2179,4694,Chelsea,Bad Behaviour,119,NaN,NaN,Fernando José Torres Sanz,6382.0

In [68]:
events = events.loc[(events['team']=='Chelsea') & (events['player']=='Frank Lampard')  & (events['type']=='Pass')  & (events['player_id']==20330.0)]

In [69]:
events.tail(20)

,index,team,type,minute,location,pass_end_location,player,player_id
420,961,Chelsea,Pass,92,"[86.0, 42.0]","[74.0, 45.0]",Frank Lampard,20330.0
437,980,Chelsea,Pass,92,"[85.0, 45.0]","[91.0, 62.0]",Frank Lampard,20330.0
439,989,Chelsea,Pass,90,"[31.0, 52.0]","[45.0, 52.0]",Frank Lampard,20330.0
444,994,Chelsea,Pass,90,"[78.0, 24.0]","[68.0, 15.0]",Frank Lampard,20330.0
449,999,Chelsea,Pass,91,"[86.0, 26.0]","[78.0, 40.0]",Frank Lampard,20330.0
451,1001,Chelsea,Pass,91,"[77.0, 30.0]","[85.0, 20.0]",Frank Lampard,20330.0
463,1013,Chelsea,Pass,91,"[57.0, 11.0]","[64.0, 35.0]",Frank Lampard,20330.0
465,1015,Chelsea,Pass,91,"[55.0, 19.0]","[46.0, 17.0]",Frank Lampard,20330.0
473,1060,Chelsea,Pass,99,"[45.0, 49.0]","[55.0, 35.0]",Frank Lampard,20330.0
481,1072,Chelsea,Pass,100,"[42.0, 40.0]","[28.0, 54.0]",Frank Lampard,20330.0
485,1076,Chelsea,Pass,100,"[59.0, 14.0]","[43.0, 49.0]",Frank Lampard,20330.0
491,1084,Chelsea,Pass,101,"[46.0, 29.0]","[48.0, 37.0]",Frank Lampard,20330.0
498,1097,Chelsea,Pass,102,"[66.0, 54.0]","[78.0, 30.0]",Frank Lampard,20330.0
502,1101,Chelsea,Pass,103,"[89.0, 11.0]","[104.0, 42.0]",Frank Lampard,20330.0
508,1117,Chelsea,Pass,104,"[63.0, 11.0]","[70.0, 7.0]",Frank Lampard,20330.0
515,1131,Chelsea,Pass,105,"[42.0, 50.0]","[45.0, 54.0]",Frank Lampard,20330.0
518,1138,Chelsea,Pass,105,"[55.0, 42.0]","[49.0, 71.0]",Frank Lampard,20330.0
530,1159,Chelsea,Pass,106,"[29.0, 36.0]","[86.0, 18.0]",Frank Lampard,20330.0
556,1267,Chelsea,Pass,119,"[55.0, 53.0]","[42.0, 60.0]",Frank Lampard,20330.0
564,1275,Chelsea,Pass,119,"[71.0, 22.0]","[93.0, 76.0]",Frank Lampard,20330.0

In [70]:
print(events.to_string())

     index     team  type  minute      location pass_end_location         player  player_id
8       14  Chelsea  Pass       0  [53.0, 41.0]      [34.0, 56.0]  Frank Lampard    20330.0
12      21  Chelsea  Pass       0   [44.0, 8.0]       [39.0, 9.0]  Frank Lampard    20330.0
24      60  Chelsea  Pass       5  [68.0, 31.0]      [80.0, 29.0]  Frank Lampard    20330.0
32      81  Chelsea  Pass       6  [28.0, 24.0]      [29.0, 38.0]  Frank Lampard    20330.0
46     103  Chelsea  Pass       8  [54.0, 38.0]      [92.0, 23.0]  Frank Lampard    20330.0
53     127  Chelsea  Pass      10  [62.0, 21.0]      [95.0, 50.0]  Frank Lampard    20330.0
63     147  Chelsea  Pass      11  [66.0, 37.0]      [77.0, 25.0]  Frank Lampard    20330.0
73     167  Chelsea  Pass      13   [57.0, 5.0]       [70.0, 4.0]  Frank Lampard    20330.0
78     176  Chelsea  Pass      14  [68.0, 10.0]      [55.0, 14.0]  Frank Lampard    20330.0
86     188  Chelsea  Pass      15  [10.0, 67.0]      [31.0, 60.0]  Frank Lampard    20330.0
95     227  Chelsea  Pass      18  [14.0, 36.0]       [7.0, 45.0]  Frank Lampard    20330.0
100    262  Chelsea  Pass      21   [6.0, 68.0]      [41.0, 73.0]  Frank Lampard    20330.0
103    280  Chelsea  Pass      22   [19.0, 9.0]      [44.0, 23.0]  Frank Lampard    20330.0
111    306  Chelsea  Pass      24  [54.0, 25.0]      [47.0, 38.0]  Frank Lampard    20330.0
114    309  Chelsea  Pass      24  [58.0, 36.0]      [87.0, 20.0]  Frank Lampard    20330.0
119    316  Chelsea  Pass      25  [77.0, 30.0]     [105.0, 11.0]  Frank Lampard    20330.0
131    371  Chelsea  Pass      32  [85.0, 24.0]      [75.0, 26.0]  Frank Lampard    20330.0
142    393  Chelsea  Pass      35  [74.0, 48.0]     [102.0, 39.0]  Frank Lampard    20330.0
147    398  Chelsea  Pass      36  [90.0, 27.0]      [80.0, 30.0]  Frank Lampard    20330.0
153    406  Chelsea  Pass      36  [47.0, 47.0]      [55.0, 42.0]  Frank Lampard    20330.0
157    410  Chelsea  Pass      36  [95.0, 40.0]     [108.0, 53.0]  Frank Lampard    20330.0
160    420  Chelsea  Pass      37  [64.0, 38.0]      [65.0, 13.0]  Frank Lampard    20330.0
166    441  Chelsea  Pass      40   [57.0, 4.0]      [31.0, 12.0]  Frank Lampard    20330.0
169    444  Chelsea  Pass      40  [44.0, 29.0]      [30.0, 36.0]  Frank Lampard    20330.0
177    455  Chelsea  Pass      41  [63.0, 26.0]      [72.0, 40.0]  Frank Lampard    20330.0
189    484  Chelsea  Pass      43  [62.0, 36.0]      [67.0, 11.0]  Frank Lampard    20330.0
194    489  Chelsea  Pass      43  [57.0, 34.0]      [57.0, 23.0]  Frank Lampard    20330.0
198    493  Chelsea  Pass      43  [70.0, 25.0]      [80.0, 31.0]  Frank Lampard    20330.0
200    495  Chelsea  Pass      43  [90.0, 21.0]      [92.0, 21.0]  Frank Lampard    20330.0
232    566  Chelsea  Pass      48  [43.0, 34.0]      [96.0, 64.0]  Frank Lampard    20330.0
236    578  Chelsea  Pass      50  [57.0, 27.0]      [49.0, 37.0]  Frank Lampard    20330.0
247    589  Chelsea  Pass      51  [59.0, 57.0]      [47.0, 30.0]  Frank Lampard    20330.0
256    604  Chelsea  Pass      52  [93.0, 56.0]     [107.0, 52.0]  Frank Lampard    20330.0
262    617  Chelsea  Pass      53  [25.0, 32.0]      [13.0, 28.0]  Frank Lampard    20330.0
275    639  Chelsea  Pass      57  [70.0, 29.0]      [66.0, 40.0]  Frank Lampard    20330.0
282    650  Chelsea  Pass      58  [38.0, 56.0]      [25.0, 65.0]  Frank Lampard    20330.0
284    652  Chelsea  Pass      58  [37.0, 63.0]      [26.0, 74.0]  Frank Lampard    20330.0
298    687  Chelsea  Pass      61  [65.0, 40.0]      [47.0, 40.0]  Frank Lampard    20330.0
303    692  Chelsea  Pass      61  [56.0, 23.0]      [48.0, 41.0]  Frank Lampard    20330.0
323    747  Chelsea  Pass      66  [37.0, 23.0]      [39.0, 41.0]  Frank Lampard    20330.0
327    751  Chelsea  Pass      66  [48.0, 34.0]      [59.0, 49.0]  Frank Lampard    20330.0
329    753  Chelsea  Pass      66  [46.0, 38.0]      [38.0, 25.0]  Frank Lampard    20330.0
332    756  Chelsea  Pass      66  [47.0, 32.0]      [34.0, 27.0]  Frank Lampard    20330.0
334    758  Chelsea  Pass      66  [50.0, 29.0]     [109.0, 26.0]  Frank Lampard    20330.0
337    783  Chelsea  Pass      68  [13.0, 18.0]      [58.0, 46.0]  Frank Lampard    20330.0
339    799  Chelsea  Pass      70  [22.0, 35.0]      [29.0, 29.0]  Frank Lampard    20330.0
355    818  Chelsea  Pass      72  [58.0, 27.0]      [68.0, 13.0]  Frank Lampard    20330.0
364    828  Chelsea  Pass      73  [57.0, 59.0]      [45.0, 67.0]  Frank Lampard    20330.0
366    830  Chelsea  Pass      74  [49.0, 65.0]      [76.0, 62.0]  Frank Lampard    20330.0
374    865  Chelsea  Pass      78  [34.0, 52.0]      [28.0, 61.0]  Frank Lampard    20330.0
377    868  Chelsea  Pass      78  [37.0, 67.0]      [32.0, 57.0]  Frank Lampard    20330.0
385    878  Chelsea  Pass      79  [50.0, 26.0]     [104.0, 74.0]  Frank Lampard    20330.0
390    883  Chelsea  Pass      80  [87.0, 76.0]     [103.0, 78.0]  Frank Lampard    20330.0
395    889  Chelsea  Pass      80  [66.0, 49.0]      [57.0, 39.0]  Frank Lampard    20330.0
400    908  Chelsea  Pass      83  [46.0, 30.0]      [46.0, 48.0]  Frank Lampard    20330.0
420    961  Chelsea  Pass      92  [86.0, 42.0]      [74.0, 45.0]  Frank Lampard    20330.0
437    980  Chelsea  Pass      92  [85.0, 45.0]      [91.0, 62.0]  Frank Lampard    20330.0
439    989  Chelsea  Pass      90  [31.0, 52.0]      [45.0, 52.0]  Frank Lampard    20330.0
444    994  Chelsea  Pass      90  [78.0, 24.0]      [68.0, 15.0]  Frank Lampard    20330.0
449    999  Chelsea  Pass      91  [86.0, 26.0]      [78.0, 40.0]  Frank Lampard    20330.0
451   1001  Chelsea  Pass      91  [77.0, 30.0]      [85.0, 20.0]  Frank Lampard    20330.0
463   1013  Chelsea  Pass      91  [57.0, 11.0]      [64.0, 35.0]  Frank Lampard    20330.0
465   1015  Chelsea  Pass      91  [55.0, 19.0]      [46.0, 17.0]  Frank Lampard    20330.0
473   1060  Chelsea  Pass      99  [45.0, 49.0]      [55.0, 35.0]  Frank Lampard    20330.0
481   1072  Chelsea  Pass     100  [42.0, 40.0]      [28.0, 54.0]  Frank Lampard    20330.0
485   1076  Chelsea  Pass     100  [59.0, 14.0]      [43.0, 49.0]  Frank Lampard    20330.0
491   1084  Chelsea  Pass     101  [46.0, 29.0]      [48.0, 37.0]  Frank Lampard    20330.0
498   1097  Chelsea  Pass     102  [66.0, 54.0]      [78.0, 30.0]  Frank Lampard    20330.0
502   1101  Chelsea  Pass     103  [89.0, 11.0]     [104.0, 42.0]  Frank Lampard    20330.0
508   1117  Chelsea  Pass     104  [63.0, 11.0]       [70.0, 7.0]  Frank Lampard    20330.0
515   1131  Chelsea  Pass     105  [42.0, 50.0]      [45.0, 54.0]  Frank Lampard    20330.0
518   1138  Chelsea  Pass     105  [55.0, 42.0]      [49.0, 71.0]  Frank Lampard    20330.0
530   1159  Chelsea  Pass     106  [29.0, 36.0]      [86.0, 18.0]  Frank Lampard    20330.0
556   1267  Chelsea  Pass     119  [55.0, 53.0]      [42.0, 60.0]  Frank Lampard    20330.0
564   1275  Chelsea  Pass     119  [71.0, 22.0]      [93.0, 76.0]  Frank Lampard    20330.0

In [71]:
events['location'] = events['location'].astype("string")
events['pass_end_location'] = events['pass_end_location'].astype("string")

In [72]:
events.head(12)

,index,team,type,minute,location,pass_end_location,player,player_id
8,14,Chelsea,Pass,0,"[53.0, 41.0]","[34.0, 56.0]",Frank Lampard,20330.0
12,21,Chelsea,Pass,0,"[44.0, 8.0]","[39.0, 9.0]",Frank Lampard,20330.0
24,60,Chelsea,Pass,5,"[68.0, 31.0]","[80.0, 29.0]",Frank Lampard,20330.0
32,81,Chelsea,Pass,6,"[28.0, 24.0]","[29.0, 38.0]",Frank Lampard,20330.0
46,103,Chelsea,Pass,8,"[54.0, 38.0]","[92.0, 23.0]",Frank Lampard,20330.0
53,127,Chelsea,Pass,10,"[62.0, 21.0]","[95.0, 50.0]",Frank Lampard,20330.0
63,147,Chelsea,Pass,11,"[66.0, 37.0]","[77.0, 25.0]",Frank Lampard,20330.0
73,167,Chelsea,Pass,13,"[57.0, 5.0]","[70.0, 4.0]",Frank Lampard,20330.0
78,176,Chelsea,Pass,14,"[68.0, 10.0]","[55.0, 14.0]",Frank Lampard,20330.0
86,188,Chelsea,Pass,15,"[10.0, 67.0]","[31.0, 60.0]",Frank Lampard,20330.0
95,227,Chelsea,Pass,18,"[14.0, 36.0]","[7.0, 45.0]",Frank Lampard,20330.0
100,262,Chelsea,Pass,21,"[6.0, 68.0]","[41.0, 73.0]",Frank Lampard,20330.0

In [73]:
events[['x', 'y']] = events['location'].str.split(',', expand=True)

In [74]:
events[['endx', 'endy']] = events['pass_end_location'].str.split(',', expand=True)

In [77]:
events.head()

,index,team,type,minute,location,pass_end_location,player,player_id,x,y,endx,endy
8,14,Chelsea,Pass,0,"[53.0, 41.0]","[34.0, 56.0]",Frank Lampard,20330.0,53.0,41.0,34.0,56.0
12,21,Chelsea,Pass,0,"[44.0, 8.0]","[39.0, 9.0]",Frank Lampard,20330.0,44.0,8.0,39.0,9.0
24,60,Chelsea,Pass,5,"[68.0, 31.0]","[80.0, 29.0]",Frank Lampard,20330.0,68.0,31.0,80.0,29.0
32,81,Chelsea,Pass,6,"[28.0, 24.0]","[29.0, 38.0]",Frank Lampard,20330.0,28.0,24.0,29.0,38.0
46,103,Chelsea,Pass,8,"[54.0, 38.0]","[92.0, 23.0]",Frank Lampard,20330.0,54.0,38.0,92.0,23.0

In [76]:
events['x']= events['x'].str[1:]
events['y']= events['y'].str[:-1]
events['endx']= events['endx'].str[1:]
events['endy']= events['endy'].str[:-1]

In [78]:
xT = pd.read_csv("/content/xT_Grid.csv", header=None)
xT = np.array(xT)
xT_rows, xT_cols = xT.shape

In [79]:
xT # this is how our pitch is broken up

array([[0.00638303, 0.00779616, 0.00844854, 0.00977659, 0.01126267,
        0.01248344, 0.01473596, 0.0174506 , 0.02122129, 0.02756312,
        0.03485072, 0.0379259 ],
       [0.00750072, 0.00878589, 0.00942382, 0.0105949 , 0.01214719,
        0.0138454 , 0.01611813, 0.01870347, 0.02401521, 0.02953272,
        0.04066992, 0.04647721],
       [0.0088799 , 0.00977745, 0.01001304, 0.01110462, 0.01269174,
        0.01429128, 0.01685596, 0.01935132, 0.0241224 , 0.02855202,
        0.05491138, 0.06442595],
       [0.00941056, 0.01082722, 0.01016549, 0.01132376, 0.01262646,
        0.01484598, 0.01689528, 0.0199707 , 0.02385149, 0.03511326,
        0.10805102, 0.25745362],
       [0.00941056, 0.01082722, 0.01016549, 0.01132376, 0.01262646,
        0.01484598, 0.01689528, 0.0199707 , 0.02385149, 0.03511326,
        0.10805102, 0.25745362],
       [0.0088799 , 0.00977745, 0.01001304, 0.01110462, 0.01269174,
        0.01429128, 0.01685596, 0.01935132, 0.0241224 , 0.02855202,
        0.05491138, 0.06442595],
       [0.00750072, 0.00878589, 0.00942382, 0.0105949 , 0.01214719,
        0.0138454 , 0.01611813, 0.01870347, 0.02401521, 0.02953272,
        0.04066992, 0.04647721],
       [0.00638303, 0.00779616, 0.00844854, 0.00977659, 0.01126267,
        0.01248344, 0.01473596, 0.0174506 , 0.02122129, 0.02756312,
        0.03485072, 0.0379259 ]])

In [82]:
events['x'] = pd.to_numeric(events['x'], errors='coerce')
events['y'] = pd.to_numeric(events['y'], errors='coerce')
events['endx'] = pd.to_numeric(events['endx'], errors='coerce')
events['endy'] = pd.to_numeric(events['endy'], errors='coerce')

In [83]:
events['x1_bin'] = pd.cut(events['x'], bins=xT_cols, labels=False)
events['y1_bin'] = pd.cut(events['y'], bins=xT_rows, labels=False)
events['x2_bin'] = pd.cut(events['endx'], bins=xT_cols, labels=False)
events['y2_bin'] = pd.cut(events['endy'], bins=xT_rows, labels=False)

In [84]:
events.head()

,index,team,type,minute,location,pass_end_location,player,player_id,x,y,endx,endy,x1_bin,y1_bin,x2_bin,y2_bin
8,14,Chelsea,Pass,0,"[53.0, 41.0]","[34.0, 56.0]",Frank Lampard,20330.0,53.0,41.0,34.0,56.0,6,4,3,5
12,21,Chelsea,Pass,0,"[44.0, 8.0]","[39.0, 9.0]",Frank Lampard,20330.0,44.0,8.0,39.0,9.0,5,0,3,0
24,60,Chelsea,Pass,5,"[68.0, 31.0]","[80.0, 29.0]",Frank Lampard,20330.0,68.0,31.0,80.0,29.0,8,2,8,2
32,81,Chelsea,Pass,6,"[28.0, 24.0]","[29.0, 38.0]",Frank Lampard,20330.0,28.0,24.0,29.0,38.0,2,2,2,3
46,103,Chelsea,Pass,8,"[54.0, 38.0]","[92.0, 23.0]",Frank Lampard,20330.0,54.0,38.0,92.0,23.0,6,3,9,2

In [85]:
events['start_zone_value'] = events[['x1_bin', 'y1_bin']].apply(lambda x: xT[x[1]][x[0]], axis=1)
events['end_zone_value'] = events[['x2_bin', 'y2_bin']].apply(lambda x: xT[x[1]][x[0]], axis=1)

In [86]:
# now we find the difference between the start and end to get the xT value
events['xT'] = events['end_zone_value'] - events['start_zone_value']

In [87]:
events.head(20)

,index,team,type,minute,location,pass_end_location,player,player_id,x,y,endx,endy,x1_bin,y1_bin,x2_bin,y2_bin,start_zone_value,end_zone_value,xT
8,14,Chelsea,Pass,0,"[53.0, 41.0]","[34.0, 56.0]",Frank Lampard,20330.0,53.0,41.0,34.0,56.0,6,4,3,5,0.016895,0.011105,-0.005791
12,21,Chelsea,Pass,0,"[44.0, 8.0]","[39.0, 9.0]",Frank Lampard,20330.0,44.0,8.0,39.0,9.0,5,0,3,0,0.012483,0.009777,-0.002707
24,60,Chelsea,Pass,5,"[68.0, 31.0]","[80.0, 29.0]",Frank Lampard,20330.0,68.0,31.0,80.0,29.0,8,2,8,2,0.024122,0.024122,0.000000
32,81,Chelsea,Pass,6,"[28.0, 24.0]","[29.0, 38.0]",Frank Lampard,20330.0,28.0,24.0,29.0,38.0,2,2,2,3,0.010013,0.010165,0.000152
46,103,Chelsea,Pass,8,"[54.0, 38.0]","[92.0, 23.0]",Frank Lampard,20330.0,54.0,38.0,92.0,23.0,6,3,9,2,0.016895,0.028552,0.011657
53,127,Chelsea,Pass,10,"[62.0, 21.0]","[95.0, 50.0]",Frank Lampard,20330.0,62.0,21.0,95.0,50.0,7,1,10,4,0.018703,0.108051,0.089348
63,147,Chelsea,Pass,11,"[66.0, 37.0]","[77.0, 25.0]",Frank Lampard,20330.0,66.0,37.0,77.0,25.0,8,3,8,2,0.023851,0.024122,0.000271
73,167,Chelsea,Pass,13,"[57.0, 5.0]","[70.0, 4.0]",Frank Lampard,20330.0,57.0,5.0,70.0,4.0,6,0,7,0,0.014736,0.017451,0.002715
78,176,Chelsea,Pass,14,"[68.0, 10.0]","[55.0, 14.0]",Frank Lampard,20330.0,68.0,10.0,55.0,14.0,8,0,5,1,0.021221,0.013845,-0.007376
86,188,Chelsea,Pass,15,"[10.0, 67.0]","[31.0, 60.0]",Frank Lampard,20330.0,10.0,67.0,31.0,60.0,0,6,2,6,0.007501,0.009424,0.001923
95,227,Chelsea,Pass,18,"[14.0, 36.0]","[7.0, 45.0]",Frank Lampard,20330.0,14.0,36.0,7.0,45.0,1,3,0,4,0.010827,0.009411,-0.001417
100,262,Chelsea,Pass,21,"[6.0, 68.0]","[41.0, 73.0]",Frank Lampard,20330.0,6.0,68.0,41.0,73.0,0,7,3,7,0.006383,0.009777,0.003394
103,280,Chelsea,Pass,22,"[19.0, 9.0]","[44.0, 23.0]",Frank Lampard,20330.0,19.0,9.0,44.0,23.0,1,0,4,2,0.007796,0.012692,0.004896
111,306,Chelsea,Pass,24,"[54.0, 25.0]","[47.0, 38.0]",Frank Lampard,20330.0,54.0,25.0,47.0,38.0,6,2,4,3,0.016856,0.012626,-0.004229
114,309,Chelsea,Pass,24,"[58.0, 36.0]","[87.0, 20.0]",Frank Lampard,20330.0,58.0,36.0,87.0,20.0,7,3,9,1,0.019971,0.029533,0.009562
119,316,Chelsea,Pass,25,"[77.0, 30.0]","[105.0, 11.0]",Frank Lampard,20330.0,77.0,30.0,105.0,11.0,9,2,11,0,0.028552,0.037926,0.009374
131,371,Chelsea,Pass,32,"[85.0, 24.0]","[75.0, 26.0]",Frank Lampard,20330.0,85.0,24.0,75.0,26.0,10,2,7,2,0.054911,0.019351,-0.035560
142,393,Chelsea,Pass,35,"[74.0, 48.0]","[102.0, 39.0]",Frank Lampard,20330.0,74.0,48.0,102.0,39.0,9,4,11,3,0.035113,0.257454,0.222340
147,398,Chelsea,Pass,36,"[90.0, 27.0]","[80.0, 30.0]",Frank Lampard,20330.0,90.0,27.0,80.0,30.0,11,2,8,2,0.064426,0.024122,-0.040304
153,406,Chelsea,Pass,36,"[47.0, 47.0]","[55.0, 42.0]",Frank Lampard,20330.0,47.0,47.0,55.0,42.0,5,4,5,4,0.014846,0.014846,0.000000

In [89]:
mean_xt = events['xT'].mean()

print(mean_xt)

0.0014186346666666659